# Whitelist repository: ignore everything unless explicitly included below.
*

!/.gitignore

!/Game.exe
!/Game.ini
!/Game.rvproj2

!/Audio/
!/Audio/**
!/Data/
!/Data/**
!/Graphics/
!/Graphics/**
!/Fonts/
!/Fonts/**
!/System/
!/System/**
!/交接资料/
!/交接资料/**

# Microsoft Office temporary lock files.
**/~$*.docx
